<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
</head>


<body>
  
  <div class="student-component">
    <table>
      <tr>
        <th>Name & Surname</th>
        <th>Country</th>
        <th>Email</th>
        <th>Date</th>
        <th>Time</th>
        <th>State</th>
        {{!-- <th>WhatsApp Number</th> --}}
      </tr>
      <tr>
        <th >{{nameSurname}}</th>
        <th >{{Country}}</th>
        <th >{{email}}</th>
        <th >{{date}}</th>
        <th >{{time}}</th>
        <th >{{state}}</th>
        {{!-- <th> {{whatsAppNumber}} </th> --}}
      </tr>
    </table>

  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {{!-- <script src="/js/main.js"></script> --}}
</body>
</html>